@import url('booticon.css');
/*
CSS file for jx3dps.com
*/
@charset "utf-8";
html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
header,
footer,
hgroup,
menu,
nav,
section,
article,
aside,
details,
figcaption,
figure,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
legend,
button,
input,
textarea,
form,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none outside none;
}
fieldset,
iframe {
  border: 0 none;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0 none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle;
}
input {
  padding: 0;
  margin: 0;
}
input[type='button'],
button {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
button,
input[type=button],
input[type=submit],
input[type='reset'] {
  cursor: pointer;
  *overflow: visible;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
button::-moz-focus-outer,
input::-moz-focus-inner,
input::-moz-focus-outer {
  margin: 0;
  padding: 0;
  border: 0 none;
}
input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
strong {
  font-weight: normal;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: consolas, 'Courier New', monospace, serif;
}
small {
  font-size: 80%;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title],
acronym[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
.nobreak {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
}
.db {
  display: block;
}
.dbi {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.none {
  display: none;
}
.hide {
  visibility: hidden;
}
.clip {
  overflow: hidden;
  *zoom: 1;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.pr {
  position: relative;
  *zoom: 1;
}
.pa {
  position: absolute;
}
.ps {
  position: static !important;
}
.ct {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.hr {
  clear: both;
}
@font-face {
  font-family: 'Trajanus Roman';
  font-weight: normal;
  font-style: normal;
  src: url('../font/TRAJANUS.eot?') format('eot'), url('../font/TRAJANUS.woff') format('woff'), url('../font/TRAJANUS.ttf') format('truetype'), url('../font/TRAJANUS.svg#TrajanusRoman') format('svg');
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1415610896_408113.eot');
  src: url('http://at.alicdn.com/t/font_1415610896_408113.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1415610896_408113.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1415610896_408113.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1415610896_408113.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: 'iconfont';
  font-style: normal;
  display: block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    color: #333;
  }
  50% {
    -webkit-transform: scale(1.1);
    color: #ff3399;
  }
  100% {
    -webkit-transform: scale(1);
    color: #333;
  }
}
@-webkit-keyframes dateupdate {
  from {
    border: 1px solid #66A533;
    -webkit-box-shadow: 0 0 4px #66A533;
    box-shadow: 0 0 4px #66A533;
    color: #66A533;
  }
  to {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    color: #333;
  }
}
@keyframes dateupdate {
  from {
    border: 1px solid #66A533;
    -webkit-box-shadow: 0 0 4px #66A533;
    box-shadow: 0 0 4px #66A533;
    color: #66A533;
  }
  to {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    color: #333;
  }
}
@-webkit-keyframes dateerror {
  from {
    border: 1px solid #ff0000;
    -webkit-box-shadow: 0 0 4px #ff0000;
    box-shadow: 0 0 4px #ff0000;
    color: #ff0000;
  }
  to {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    color: #333;
  }
}
@keyframes dateerror {
  from {
    border: 1px solid #ff0000;
    -webkit-box-shadow: 0 0 4px #ff0000;
    box-shadow: 0 0 4px #ff0000;
    color: #ff0000;
  }
  to {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    color: #333;
  }
}
@-webkit-keyframes showinfo {
  from {
    width: 0;
  }
  to {
    width: 180px;
  }
}
@keyframes showinfo {
  from {
    width: 0;
  }
  to {
    width: 180px;
  }
}
html,
body {
  color: #333333;
  font-size: 12px;
  line-height: 180%;
  font-family: Consolas, 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  /*background:url('http://ww4.sinaimg.cn/large/bcc700eegw1eikbevbsu1j21hc0ip4cf.jpg') no-repeat center top;*/
  background-color: #f1f1f1;
}
a:link,
a:visited {
  color: #336699;
}
a:hover {
  color: #ff3399;
}
a:active {
  color: #ff3399;
}
table td {
  border: 1px solid #ddd;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 24px;
}
legend {
  padding: 0;
  white-space: normal;
  border: 0;
  *margin-left: -7px;
}
::-moz-selection {
  background-color: #ff3399;
  color: #333333;
}
::selection {
  background-color: #ff3399;
  color: #333333;
}
label {
  cursor: pointer;
}
.test {
  _border: 1px dashed #4AFFFF;
}
.test:hover {
  outline: 1px dashed #4AFFFF;
  background: rgba(0, 204, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#3300ccff, endColorstr=#3300ccff);
}
.test2 {
  outline: 1px dashed #4AFFFF;
  _border: 1px dashed #4AFFFF;
}
.ui-dialog.ui-widget-content {
  overflow: hidden !important;
  border-radius: 6px !important;
}
.ui-widget-overlay {
  height: 110%;
}
.ui-dialog .ui-dialog-titlebar-close {
  right: 20px;
  /*color:@basecolor;*/
}
.ui-widget-content {
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0px 0px 3px rgba(221, 221, 221, 0.5);
  box-shadow: 0px 0px 3px rgba(221, 221, 221, 0.5);
  margin-top: -1px;
  max-width: 400px;
  max-height: 520px;
  overflow-x: hidden;
  overflow-y: auto;
}
.ui-selectmenu-menu .ui-menu {
  padding: 0;
}
.ui-selectmenu-menu .ui-menu-item {
  text-indent: 10px;
  height: 26px;
  line-height: 26px;
}
.ui-selectmenu-menu .ui-state-focus {
  color: #fff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-selectmenu-menu .ui-selectmenu-optgroup {
  color: #888;
  font-weight: normal;
  height: 24px;
  border-bottom: 1px solid #0064cd !important;
  color: #0064cd;
}
.ui-selectmenu-menu .ui-selectmenu-optgroup:before {
  content: ' + ';
}
.select2-results li div {
  background: url('../img/role.png') no-repeat;
  padding-left: 32px !important;
}
.select2-results li:first-child div {
  background-position: left 0;
}
.select2-results li:nth-child(2) div {
  background-position: left -28px;
}
.select2-results li:nth-child(3) div {
  background-position: left -56px;
}
.select2-results li:nth-child(4) div {
  background-position: left -84px;
}
.select2-results li:nth-child(5) div {
  background-position: left -112px;
}
.select2-results li:nth-child(6) div {
  background-position: left -140px;
}
.select2-results li:nth-child(7) div {
  background-position: left -168px;
}
.select2-results li:nth-child(8) div {
  background-position: left -196px;
}
.select2-results li:nth-child(9) div {
  background-position: left -224px;
}
.select2-results li:nth-child(10) div {
  background-position: left -252px;
}
.select2-results li:nth-child(11) div {
  background-position: left -280px;
}
.select2-results li:nth-child(12) div {
  background-position: left -308px;
}
.select2-results li:nth-child(13) div {
  background-position: left -336px;
}
.select2-results li:nth-child(14) div {
  background-position: left -364px;
}
.select2-results li:nth-child(15) div {
  background-position: left -392px;
}
.select2-results li:nth-child(16) div {
  background-position: left -420px;
}
#box {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
#box #header {
  position: relative;
  *zoom: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#box #header:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
#box #header #title {
  float: left;
  _display: inline;
  position: relative;
  *zoom: 1;
}
#box #header #title h1 {
  font-size: 100px;
  font-family: 'Trajanus Roman';
  line-height: 100px;
}
#box #header #title h1:hover {
  -webkit-animation: pulse 1s .2s ease both;
}
#box #header #title h1 a {
  color: #333;
  cursor: pointer;
}
#box #header #title #version {
  position: absolute;
  right: 6px;
  top: 10px;
  color: #fff;
  padding: 0px 5px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 0px #ccc;
  box-shadow: 1px 1px 0px #ccc;
  cursor: help;
}
#box #header #title #s2id_role {
  width: 280px;
  margin: 10px 0 0 10px;
}
#box #header #mz {
  margin: 0 0 0 320px;
}
#box #header #mz #nav {
  height: 40px;
  padding-top: 30px;
  margin-bottom: 0px;
}
#box #header #mz #nav a {
  float: left;
  _display: inline;
  *zoom: 1;
  width: 100px;
  line-height: 24px;
  color: #333333;
}
#box #header #mz #nav a:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
#box #header #mz #nav a:hover {
  color: #ff3399;
}
#box #header #mz #nav span {
  float: left;
  _display: inline;
  margin-right: 10px;
  font-size: 24px;
  line-height: 24px;
}
#box #header #mz #nav #user-panel {
  float: right;
  _display: inline;
  font-size: 12px;
}
#box #header #mz #nav #user-panel a {
  width: 60px;
  color: #666;
}
#box #header #mz #nav #user-panel a:hover {
  color: #ff3399;
}
#box #header #mz #nav #user-panel span {
  font-size: 18px;
  margin-right: 8px;
}
#box #header #mz #result {
  position: relative;
  *zoom: 1;
}
#box #header #mz #result .date {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 4px #ddd;
  box-shadow: 0 0 4px #ddd;
  width: 568px;
}
#box #header #mz #result .date.update {
  -webkit-animation: dateupdate 3s;
  animation: dateupdate 3s;
}
#box #header #mz #result .date.error {
  -webkit-animation: dateerror 3s;
  animation: dateerror 3s;
}
#box #header #mz #result .date table th,
#box #header #mz #result .date table td {
  padding: 5px;
  text-align: center;
  min-width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#box #header #mz #result .date table th {
  cursor: help;
}
#box #header #mz #result .date table td {
  background-color: #fff;
  border-bottom: none;
}
#box #header #mz #result .date table td:first-child {
  border-left: none;
}
#box #header #mz #result .date table td:last-child {
  border-right: none;
}
#box #header #mz #result #date-button {
  position: absolute;
  top: 0px;
  right: 0px;
}
#box #header #mz #result #date-button .date-button {
  display: block;
  margin-bottom: 6px;
  padding: .5em 2.5em;
}
#box #header #message {
  margin-top: 10px;
  clear: both;
  cursor: pointer;
}
#box #header #message p,
#box #header #message div {
  line-height: 24px;
  padding: 2px;
  margin: 0 auto;
  text-align: center;
  width: 680px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px #ccc inset,0 0 4px #ddd;
  box-shadow: 0 0 1px #ccc inset,0 0 4px #ddd;
  border-radius: 4px;
}
#box #header #message span {
  font-size: 14px;
}
#box #header #message .success {
  color: #669933;
}
#box #header #message .error {
  color: #cc0000;
}
#box #main {
  min-height: 500px;
  font-size: 12px;
  padding: 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
#box #main ul {
  float: left;
  _display: inline;
  min-width: 220px;
}
#box #main ul li {
  min-width: 180px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  position: relative;
  *zoom: 1;
}
#box #main ul li span.units {
  color: #777;
  position: relative;
  *zoom: 1;
  left: -20px;
}
#box #main ul li input {
  height: 24px;
  line-height: 24px;
  padding: 2px 5px;
}
#box #main ul li input[type='text'].errorDate {
  border-color: #cc0000;
}
#box #main ul li select {
  width: 140px;
}
#box #main ul li .ui-selectmenu-button {
  position: relative;
  *zoom: 1;
  top: 2px;
}
#box #main ul li .ui-selectmenu-text {
  color: #666;
  font-weight: normal;
}
#box #main ul li label {
  margin-right: 10px;
}
#box #main ul li label:first-child {
  color: #666;
}
#box #main ul li label.help {
  border-bottom: 1px dotted #777;
  cursor: help !important;
}
#box #main ul li label.help span {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#cc000000, endColorstr=#cc000000);
  border-radius: 4px;
  border: 1px solid #111;
  z-index: 20;
  color: #ccc;
  padding: 0 5px;
}
#box #main ul li label.help:hover span {
  display: block;
}
#box #main ul li label.errorDate {
  width: 0px;
  min-height: 24px;
  background: url('../img/care.gif') no-repeat 5px 10px;
  position: absolute;
  padding-left: 24px;
  color: #cc0000;
  font-weight: bold;
  left: 180px;
  top: 0;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: help;
  /*transition:3s;*/
}
#box #main ul li label.errorDate:hover {
  -webkit-animation: showinfo 1s forwards;
  animation: showinfo 1s forwards;
  background-color: #cc0000;
  color: #fff;
  -webkit-box-shadow: 2px 2px 0px #cbcbcb;
  box-shadow: 2px 2px 0px #cbcbcb;
  border-radius: 4px;
  padding-right: 5px;
}
#box #main ul li label.info {
  min-width: 24px;
  min-height: 24px;
  padding-left: 20px;
  background: url('../img/info.png') no-repeat 2px 1px;
  border-bottom: none;
  z-index: 3;
}
#box #main ul li label.info:hover {
  cursor: pointer;
}
#box #main ul li label.info span {
  left: 200px;
  top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#box #main ul li i.info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 24px;
  height: 100%;
  vertical-align: top;
  z-index: 3;
  background: url('../img/info.png') no-repeat 5px 10px;
}
#box #main ul li i.info span {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#cc000000, endColorstr=#cc000000);
  border-radius: 4px;
  border: 1px solid #111;
  z-index: 20;
  color: #ccc;
  padding: 0 5px;
}
#box #main ul li i.info:hover {
  cursor: help;
}
#box #main ul li i.info:hover span {
  display: block;
  width: 180px;
}
#box #main ul.dps-prop input {
  width: 120px;
}
#box #main ul.dps-prop li label:first-child {
  width: 34px !important;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#box #main ul.dps-add {
  width: 245px;
}
#box #main ul.dps-add li label:first-child {
  overflow: hidden;
  width: 48px;
  float: left;
  _display: inline;
  white-space: nowrap;
}
#box #main ul.dps-add li label.info {
  position: absolute;
  left: 205px;
  top: 8px;
}
#box #main ul.dps-add li label.info span {
  left: 25px;
  top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0;
}
#box #main ul.dps-add .icheckbox_square-blue {
  margin-right: 5px;
}
#box #main ul.dps-raid {
  width: 240px;
}
#box #main ul.dps-raid li label:first-child {
  width: 34px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: right;
}
#box #main ul.dps-raid .raidbuff {
  width: 34px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #666;
}
#box #main ul.dps-raid .zhenfai,
#box #main ul.dps-raid .buyu {
  vertical-align: top;
}
#box #main ul.dps-raid .iradio_square-blue {
  margin: 0 5px 0 0;
}
#box #main ul.dps-raid .icheckbox_square-blue {
  margin: 0 5px 0 0;
}
#box #main ul.dps-raid .coverage {
  color: #777;
}
#box #main ul.dps-raid .ui-state-active .coverage {
  color: #ccc;
}
#box #main ul.dps-raid .qichang label {
  margin-right: 6px;
}
#box #main ul.dps-raid #raidXQ .ui-button-text {
  padding: .4em .3em;
}
#box #main ul.dps-role {
  width: 280px;
}
#box #main ul.dps-role label {
  vertical-align: top;
}
#box #main ul.dps-role label.info {
  margin-right: 0;
}
#box #main ul.dps-role .ui-selectmenu-button {
  width: 210px !important;
}
#box #main .ui-buttonset label {
  margin-right: -0.4em;
  height: 12px;
  padding: 8px 16px 8px 12px;
  width: auto;
  text-align: center;
}
#box #main .ui-buttonset label .ui-button-text {
  padding: 0 !important;
}
#box #main #to {
  margin-top: 20px;
  text-align: center;
}
#box #main #to #go {
  width: 180px;
  height: 40px;
}
#box #main #to .btn {
  width: 180px;
  height: 28px;
  margin-bottom: 10px;
}
#box #footer {
  border-top: 1px solid #fff;
  padding: 20px 10px;
}
#box #footer ul.download {
  float: left;
  _display: inline;
}
#box #footer ul.download li {
  float: left;
  _display: inline;
  width: 100px;
  margin-bottom: 10px;
}
#box #footer ul.download a {
  display: block;
  padding: 5px;
  color: #666;
  -webkit-transition: color .5s;
  transition: color .5s;
}
#box #footer ul.download a:hover {
  color: #ff3399;
}
#box #footer ul.download span {
  font-size: 28px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
}
#box #footer ul.author {
  float: right;
  _display: inline;
}
#box #footer ul.author a {
  display: block;
  margin-right: 10px;
  float: left;
  _display: inline;
  text-align: center;
  position: relative;
  *zoom: 1;
  overflow: hidden;
}
#box #footer ul.author a:hover i {
  left: 100%;
  transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
#box #footer ul.author img {
  width: 40px;
  height: 40px;
  display: block;
}
#box #footer ul.author i {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  -ms-transform: skewx(-25deg);
  transform: skewx(-25deg);
  -o-transform: skewx(-25deg);
  -moz-transform: skewx(-25deg);
  -webkit-transform: skewx(-25deg);
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
#box #footer ul.links {
  clear: both;
  padding: 0;
}
#box #footer ul.links li {
  float: left;
  _display: inline;
  margin-right: 20px;
}
#box #footer p {
  text-align: right;
  padding-right: 10px;
  text-transform: uppercase;
}
